<?xml version="1.0" encoding="UTF-8"?>
<appengine-web-app xmlns="http://appengine.google.com/ns/1.0">
  <application>{{app-id}}</application>
  <version>{{version}}</version>

  {{#thread-safe}}
  <threadsafe>true</threadsafe>
  {{/thread-safe}}

  {{#resource-files}}
  <resource-files>
    {{#include}}
    <include path="{{path}}"
	     {{#expiration}}expiration="{{expiration}}"
	     {{/expiration}}>
      {{#http-header}}
      <http-header name="{{name}}" value="{{value}}" />
      {{/http-header}}
    </include>
    {{/include}}
    {{#exclude}}
    <exclude path="{{path}}"
	     {{#expiration}}expiration="{{expiration}}"
	     {{/expiration}}>
      {{#http-header}}
      <http-header name="{{name}}" value="{{value}}" />
      {{/http-header}}
    </exclude>
    {{/exclude}}
  </resource-files>
  {{/resource-files}}

  {{#static-files}}
  <static-files>
    {{#include}}
    <include path="{{path}}"
	     {{#expiration}}expiration="{{expiration}}"
	     {{/expiration}}>
      {{#http-header}}
      <http-header name="{{name}}" value="{{value}}" />
      {{/http-header}}
    </include>
    {{/include}}
    {{#exclude}}
    <exclude path="{{path}}"
	     {{#expiration}}expiration="{{expiration}}"
	     {{/expiration}}>
      {{#http-header}}
      <http-header name="{{name}}" value="{{value}}" />
      {{/http-header}}
    </exclude>
    {{/exclude}}
  </static-files>
  {{/static-files}}

  {{#system-properties}}
  <system-properties>
    {{#props}}
    <property name="{{name}}"
	      value="{{value}}" />
    {{/props}}
    {{#logging.jul}}
    <property name="{{name}}"
	      value="{{value}}" />
    {{/logging.jul}}

    {{#logging.log4j}}
    <property name="{{name}}"
	      value="{{value}}" />
    {{/logging.log4j}}
  </system-properties>
  {{/system-properties}}

  <env-variables>
    {{#env-vars}}
    <env-var name="{{name}}" value="{{value}}" />
    {{/env-vars}}
  </env-variables>

  {{#ssl}}
  <ssl-enabled>true</ssl-enabled>
  {{/ssl}}

  {{#appstats.admin-console}}
  <admin-console>
    <page name="{{name}}" url="{{url}}" />
  </admin-console>
  {{/appstats.admin-console}}
</appengine-web-app>
