{:filters [{:ns hello-filter
            :name "hello filter"
            :display {:name "hello filter"}
            :urls [{:url "/hello/*"}]
            :desc {:text "hello filter"}}
           {:ns goodbye-filter
            :name "goodbye filter"
            :display {:name "goodbye filter"}
            :urls [{:url "/goodbye/*"}]
            :desc {:text "goodbye filter"}}]}
