{:filters [{:ns hello_filter
            :name "hello filter"
            :display {:name "hello filter"}
            :urls [{:url "/hello/foo/*"}]
            :desc {:text "hello filter"}}
           {:ns goodbye_filter
            :name "goodbye filter"
            :display {:name "goodbye filter"}
            :urls [{:url "/goodbye/foo/*"}]
            :desc {:text "goodbye filter"}}]})
