{:servlets [{:ns greetings.hello
             :name "hello-servlet"
             :display {:name "Awesome Hello Servlet"}
             :desc {:text "blah blah"}
             :urls ["/hello/*" "/foo/*"]
             :params [{:name "greeting" :val "Hello"}]
             :load-on-startup {:order 3}}
            {:ns greetings.goodbye
             :name "goodbye-servlet"
             :urls ["/goodbye/*" "/bar/*"]
             :params [{:name "op" :val "+"}
                      {:name "arg1" :val 3}
                      {:name "arg2" :val 2}]}

            ;; use :class instead of :ns to config a Java servlet in web.xml
            ;; but not aot-compile it as a namespace
            {:class greetings.HelloJava
             :name "HelloJavaServlet"
             :urls ["/java"]
             :params [{:load-on-startup 1}]}
            ;; {:class com.google.android.gcm.demo.server.UnRegisterServlet
            ;;  :name "UnregisterServlet"
            ;;  :urls ["/unregister"]
            ;;  :params [{:load-on-startup 1}]}
            ]}
