{:servlets [{:ns hello.echo
             :name "echo-servlet"
             :display {:name "Awesome Echo Servlet"}
             :desc {:text "blah blah"}
             :url "/echo/*"
             :params [{:name "greeting" :val "Hello"}]
             :load-on-startup {:order 3}}

            {:ns hello.math
             :name "math-servlet"
             :url "/math/*"
             :params [{:name "op" :val "+"}
                      {:name "arg1" :val 3}
                      {:name "arg2" :val 2}]}]}
