{:welcome {:file "index.html"}
 :errors [{:code 404 :url "/404.html"}] ;; use :code, or:type, e.g 'java.lang.String
 ;;see http://www.opensource.apple.com/source/JBoss/JBoss-739/jakarta-tomcat-LE-jdk14/conf/web.xml
 :mime-mappings [{:ext "abs" :type "audio/x-mpeg"}
                 {:ext "gz"  :type "application/x-gzip"}
                 {:ext "htm" :type "text/html"}
                 {:ext "html" :type "text/html"}
                 {:ext "svg" :type "image/svg+xml"}
                 {:ext "txt" :type "text/plain"}
                 {:ext "xml" :type "text/xml"}
                 {:ext "xsl" :type "text/xsl"}
                 {:ext "zip" :type "application/zip"}]}
